/*configurações globais*/
:root {
    --bg-color: #fff;
    --bg-header: #111;
    --bg-img: #333;
    --header-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family:"Passion One","Sriracha", Arial, Helvetica, sans-serif;
    /*TODO: colocar as fontes Passion One e Sriracha no html*/
}

a {
    text-decoration: none;
    margin-left: 4px;
    margin-right: 4px;
    font-weight: bold;
}

/*configurações locais*/
/*cabeçalho*/
header {
    background-color: var(--bg-header);
    width: 100%;
    max-width: 1024px;
    min-width: 100vw;
    color: var(--header-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Passion One", Arial, Helvetica, sans-serif;
}

header h1 {
    text-transform: capitalize;
    font-variant: small-caps;
    margin: 10px 10px 5px 10px;
    font-size:3em;
}

header p {
    margin-bottom: 20px;
    font-size:1.2em;

}

header a,
footer a {
    color: var(--header-color);
}

a:hover {
    text-decoration: underline;
}


/*sessão*/
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;

}

section p {
    padding-left: 10px;
    font-family: "Sriracha", Arial, Helvetica, sans-serif;
}

section.yesImg {
    background-color: #111;
    color: var(--bg-color);
    box-shadow: inset 2px 6px 10px rgba(17, 17, 17, 0.5);

}

section.yesImg p {
    background-color: rgba(56, 56, 56, 0.5);
    width: 300px;


}
section#s1{
    background-image: url("../imagens/background001.jpg");
    background-size: cover;
    background-position:right center;
    background-attachment: fixed;
}
section#s2{
    background-image: url("../imagens/background002.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*rodapé*/
footer {
    background-color: var(--bg-header);
    width: 100%;
    max-width: 1024px;
    min-width: 100vw;
    color: var(--header-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height:30px;
}
footer p {
    font-family: "Sriracha", Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight:normal;
  
}